body {
    background: black;
    color: white;
    font-family: monospace;
    text-align: center;
}

canvas {
    border: 2px solid white;
    background: black;
}

#ui {
    width: 800px;
    margin: auto;
    text-align: left;
}

button {
    margin: 5px;
    padding: 5px 10px;
}
